@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .wall-container, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wall-container {
  display: grid;
  grid-template-rows: 20% 70% 10%;
  height: 100%;
  width: 100%;
    

}

.headerWall {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: repeat(5, 20%);
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  border: solid #e5e5e5;
  border-width: 0.5px;
  padding: 0;
  height: 100%;
  
}

.mainWall {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  overflow-y: scroll;
}

.footerWall {
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-rows: 3fr 1fr;
  text-align: center;
  align-items: center;
  font-size: 14px;
  height: 100%;
  
}
.TechMewall {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 0;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-left: 24px;
}

.techwall {
  font-family: "Chakra Petch", sans-serif;
  color: #f515e0;
  font-size: 6vh;
}

.Mewall {
  font-family: "Cabin Sketch";
  color: #cbef43;
  font-size: 6vh;
  font-style: normal;
  font-weight: normal;
}

.btnWallWall {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  color: #CBEF43;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  align-self: center;
  font-family: "Catamaran", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  margin: auto;
}

.btnOutWall {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
  color: #CBEF43;
  background: #3a2c65;
  text-decoration: none;
  font-family: "Catamaran", sans-serif;
   font-size: 15px;
  font-style: normal;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin: auto;
}



.LINK {
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 11;
  border: 0.5px solid #cccccc;
  border-radius: 0px;
  font-family: "Chakra Petch", sans-serif;
  
  
  
}

.ideaWall {
  align-self: center;
  margin: auto;
  height: fit-content;
  width: fit-content;
  color: #50c5b7;
  text-decoration-line: underline;
  
  
}




.box-post {
  border-bottom: 0.5px solid #cccccc;
  background-color: #6e6095;
  min-height: 100px;
  width: 100%;
  
  padding: 5px 15px;
  box-sizing: border-box;

  
}

.headerPost {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  height: 25px;
  margin: 0;
  width: 100%;
  padding: 0;
  justify-content: space-between;


}

.userNamePost {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #CBEF43;
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-weight: bolder;
  align-self: flex-end;
  height: fit-content;
}

.Fecha {
  color: #c4c4c4;
  font-size: 10px;
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  height: fit-content;
}

.mainPost {
  padding: 5px 10px;
  min-height: 50px;

}

.mainPost h2 {
  text-align: left ;
  font-size: 12px;
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  color: #C4C4C4;
}

.footerPost {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  align-items: flex-end;
  height: 25px;
  width: 100%;

}

.likesCount {
  grid-column-start: 9;
  grid-column-end: 10;
  font-size: 12px;
  height: fit-content;
  width: fit-content;
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #CBEF43;
  justify-self: end;
  width: fit-content;
  height: fit-content;
  margin: auto 0;
}

.heartWall {
  grid-column-start: 10;
  grid-column-end: 11;
  height: 20px;
  margin: auto;
  background-color: #6e6095;
  color: #6e6095;
  border: none;
  
  
  

}



.title {
  grid-column-start: 10;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #50c5b7;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
}

.Idea {
  grid-column-start: 2;
  grid-column-end: 19;
  grid-row-start: 2;
  grid-row-end: 4;
  color: #c4c4c4;
  font-size: 14px;
  font-family: "Catamaran", sans-serif;
}








.nombres {
  color: #cccccc;
  font-family: "Catamaran", sans-serif;
  font-size: 8px;
  
}

.icon {
  padding: 0px;
  display: flex;
  justify-content: center;
  margin: 0;
  height: fit-content;

}

.git {
  height: 35px;
  
  box-sizing: border-box;
  
}

.jest {
  /* width: 643%; */
  height: 35px;
  
  box-sizing: border-box;
  /* margin-left: -133px; */
}

.mdn {
  
  height: 35px;
  box-sizing: border-box;
}

.postBar {
  display: grid;
  grid-column: repeat (20, 1fr);
  grid-row: repeat (1, 1fr);
  background-color:#6E6095;
}

#btnEdit {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

#btnErase{
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}
#btnLike {
  grid-row: 1 / 1;
  grid-column: 20 / 21;
}

.iconButton {
  border: 0;
  margin: 0;
  padding: 0;
  height: 0.8em;
  width: 0.8em;
}


@media screen and (min-width: 768px) {
  .header,
  .footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid #e5e5e5;
    border-width: 1px 1px;
    align-items: center;
    text-align: center;
  }

  .header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-gap: 15px;
  }

  .TechMewall {
    display: inline-block;
    text-align: left;
  }
  .techwall {
    font-family: "Chakra Petch", sans-serif;
    color: #f515e0;
    font-size: 9vh;
  }

  .Mewall {
    font-family: "Cabin Sketch";
    color: #cbef43;
    font-size: 9vh;
    font-style: normal;
    font-weight: normal;
  }
  .btnOutWall {
    color: #cccccc;
    background: #3a2c65;
    text-decoration: none;
    text-align: right;
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-size: 25px;
  }

  .btnWallWall {
    color: #cccccc;
    background: #3a2c65;
    text-decoration: none;
    text-align: right;
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-size: 25px;
  }

  .LINK {
    border: 1px solid #cccccc;
    border-radius: 0px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 22px;
  }
  .idea {
    text-align: center;
    color: #50c5b7;
    text-decoration-line: underline;
  }
  .box-post {
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #6e6095;
  }

  .title {
    color: #50c5b7;
    font-size: 18px;
    font-family: "Chakra Petch", sans-serif;
  }

  .Idea {
    color: #c4c4c4;
    font-size: 16px;
    font-family: "Catamaran", sans-serif;
  }
  .Fecha {
    color: #c4c4c4;
    font-size: 14px;
    font-family: "Catamaran", sans-serif;
    text-align: left;
    margin-top: 0px;
  }

  .footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
     
  }
  .nombres {
    color: #cccccc;
    font-family: "Catamaran", sans-serif;
    font-size: 22px;
    margin-top: -56px;
  }

  .icon {
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: -webkit-auto;
    margin-right: -67px;
  }

  .git {
    /* width: 52%; */
    height: 92px;
    /* margin-right: 30px; */
  }

  .jest {
    /* width: 970%; */
    height: 84px;
    margin-top: 8px;
    /* margin-left: -134px; */
    padding: 2px;
  }

  .mdn {
    /* width: 163%; */
    height: 196px;
    margin-top: -48px;
    padding: 6px;
    /* margin-right: 18px; */
    margin-bottom: -81px;
    padding: 41px;
  }
}


