@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #3a2c65;
}

.box-login {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(20, 5%);
  grid-template-columns: repeat(10, 10%);
  grid-gap: 0px;
  background-color: #3a2c65;
}

.TechMeLogin {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: auto;
}

.WelcomeLogin {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 7;
  margin: auto;
  text-align: center;
  color: #50c5b7;
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
}

.greenTex {
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
  color: #50c5b7;
  font-size: 2.5vh;
  margin: 0 5vw;
}

.techLogin {
  font-family: "Chakra Petch", sans-serif;
  color: #f515e0;
  font-size: 7vh;
}

.MeLogin {
  font-family: "Cabin Sketch";
  color: #cbef43;
  font-size: 7vh;
  font-style: normal;
  font-weight: normal;
}
.box-form {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 15%);
}

form {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
}

.FormLogin {
  z-index: 2;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 15;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 3px;
  padding: 2%;
  justify-content: flex-start;
  background-color: #3a2c65;
  margin-top: 10px;
  margin-left: -24px;
  margin-right: -22px;

}

.InputLogin {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-top: auto;
  margin-bottom: 8%;
  font-family: "Catamaran", sans-serif;
  font-size: medium;
  color:  #C4C4C4;
  background-color: #3a2c65;
  border: 1px solid  #C4C4C4;
  border-radius: 3px;
  padding: 4.5px;
}

.google {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 7;
  margin: auto;
  display: flex;
}

.btn1 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 7;
  color: #d6d3d3;
  font-family: "Chakra Petch", sans-serif;
  border: 0px;
  text-decoration: underline;
  margin: auto;
}

.icono {
  display: inline-block;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 7;
  margin: auto;
  height: 35px;
  width: 35px;
}

.actionsLogin {
  margin-top: 4vh;
}

.loginButton {
  width: 26vw;
  height: auto;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #a43a9a;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  color: #c4c4c4;
  margin-left: 5%;
}

.btn2 {
  grid-column-start: 1;
  width: 47%;
  height: 5vh;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #cbef43;
  border: 0px;
  text-decoration: underline;
  margin: auto;
}

.Img {
  z-index: 0;
  object-fit: cover;
  object-position: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 13;
  grid-row-end: 21;
}

@media screen and (min-width: 740px) {
  
   
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #3a2c65;
  }
  
  .box-login {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
    grid-gap: 0px;
    background-color: #3a2c65;
  }
  
  .TechMeLogin {
    grid-column-start: 10;
    grid-column-end: 21;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: auto;
  }
  
  .WelcomeLogin {
    grid-column-start: 10;
    grid-column-end: 21;
    grid-row-start: 5;
    grid-row-end: 5;
    margin: auto;
    text-align: center;
    color: #50c5b7;
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
  }
  
  .greenTex {
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
    color: #50c5b7;
    font-size: 2.5vh;
    margin: 0 5vw;
    line-height: 1.1;
  }
  
  .techLogin {
    font-family: "Chakra Petch", sans-serif;
    color: #f515e0;
    font-size: 10vh;
  }
  
  .MeLogin {
    font-family: "Cabin Sketch";
    color: #cbef43;
    font-size: 10vh;
    font-style: normal;
    font-weight: normal;
  }
  
  
  
  .FormLogin {
    z-index: 2;
    grid-column-start: 10;
    grid-column-end: 20;
    grid-row-start: 8;
    grid-row-end: 17;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2%;
    justify-content: flex-start;
    background-color: #3a2c65;
    margin-top: 10px;
    margin-left: -24px;
    margin-right: -22px;
    padding: 53px;
  
  }

  .box-form {
    display: block;
    grid-column-start: 10;
    grid-column-end: 21;
    grid-row-start: 19;
    grid-row-end: 21;
    border: 1px solid   #3A2C65;
    background-color: #3A2C65;
    line-height: 1.1px;
  }
  
.form {
    display: block;
    grid-column-start: 9;
    grid-column-end: 20;
    grid-row-start: 7;
    grid-row-end: 18;
    border: 1px solid   #3A2C65;
    background-color: #3A2C65;
    width: 100%;
    height: 100%;
  
  }
  
  
  .InputLogin {
    margin: 2%;
    margin-bottom: 2%;
    height: 12%;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
    background-color: #3A2C65;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    padding: 11px;
    line-height: 1.1;
    

  }
  
  .google {
    grid-column-start: 10;
    grid-column-end: 21;
    grid-row-start: 7;
    grid-row-end: 7;
    margin: auto;
    display: flex;
  }
  
  .btn1 {
     
    color: #d6d3d3;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    border: 0px;
    text-decoration: underline;
    margin: auto;
  }
  
  .icono {
    display: inline-block;
    margin: auto;
    height: 40px;
    width: 40px;
  }
  
  .actionsLogin {
    margin-top: 4vh;
  }
  
  .loginButton {
    width: 17vw;
    height: auto;
    font-family: "Catamaran", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #a43a9a;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    color: #c4c4c4;
    margin-left: 3%;
    margin-top: 4px;
  }
  
  .btn2 {
    grid-column-start: 1;
    width: 47%;
    height: 5vh;
    font-family: "Chakra Petch", sans-serif;
    font-size: 22px;
    color: #cbef43;
    border: 0px;
    text-decoration: underline;
    margin: auto;
  }
  
  .Img {
    z-index: 0;
    position: absolute;
    object-fit: cover;
    object-position: 53% -1px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 21;
  }
   
  
  
  
   
}