@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');


* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}

body {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #3A2C65;
}

.box-login{
    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid-gap: 0%;
     
     
}

.TECHME{
    
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.tech {
    font-family: 'Chakra Petch', sans-serif;
    color: #F515E0;
    font-size: 8vh;
}

.me {
    font-family: 'Cabin Sketch', cursive;
    color: #CBEF43;
    font-size: 8vh;


}

.description{
    display: grid;
    padding: 16px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 15px;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;

}

.greenTex {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    color: #50C5B7;
    font-size: 2.5vh;
    margin: 0 5vw;

}


form {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    width: 80%;
    border: 1px solid white;
    height: fit-content;
    border-radius: 3px;
    margin: 5vw auto;
    padding: 0 2px;
    justify-content: center;
}

input {
    
    height: 5vh;
    font-family: 'Catamaran', sans-serif;
    font-size: medium;
    color: white;
    background-color: #3A2C65;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px 10px;
}


button {
    position: relative;
    width: 80%;
    height: 5vh;
    font-family: 'Chakra Petch', sans-serif;
    font-size: medium;
    font-weight: bold;
    background-color: #A43A9A;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    color: #C4C4C4;

    
    
}

.btn1{
  
   
   color: #D6D3D3;
   font-family: 'Chakra Petch', sans-serif;
   border: 0px;
   text-decoration: underline;
   margin: auto;
   

}

.icono{

    margin: auto;
    height: 40px;
    width: 40px;
    justify-content: space-around;
    
}

.btn2{
    
    
    font-family: 'Chakra Petch', sans-serif;
    color: #CBEF43;
    border: 0px;
    text-decoration: underline;
    margin: auto;
}

 
    
